<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.kronosoft.crazyparanoidserver"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="se.kronosoft.crazyparanoidserver.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="se.kronosoft.crazyparanoidserver.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="se.kronosoft.crazyparanoidserver.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="se.kronosoft.crazyparanoidserver.GcmBroadcastReciver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="se.kronosoft.crazyparanoidserver" />
            </intent-filter>
        </receiver>

        <service android:name="se.kronosoft.crazyparanoidserver.GCMIntentService" />

        <activity
            android:name="se.kronosoft.crazyparanoidserver.SetAliasPass"
            android:label="@string/title_activity_set_alias_pass"
            android:parentActivityName="se.kronosoft.crazyparanoidserver.MainActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="se.kronosoft.crazyparanoidserver.MainActivity" />
        </activity>
    </application>

</manifest>